@model DemoAppMVC.Models.EmployeeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>@Model.EmployeeName - [EmployeeId: @Model.EmployeeId]</h2>

<div class="row">
    <div>
        
    </div>
</div>