<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />

  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>


  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AQyZy8f4wFXfGnJsxUoSdFBALrGiBTP8anBvwbtw8J_02TdZEbscrJyIOIEQBTfsyc1gB2L3Tr4AToKe" />
      <add name="clientSecret" value="EOO6QD-GC8vzQGjdTboZP4mBvII9LsHwMtrOzfmv3fbH0Ep4OtZT7b_V4fCyOWAA9xdh5oCuuyHPcA3S" />
    </settings>
  </paypal>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <!--<authentication mode="Windows" />
    <authorization>
      <allow users="bhavik"/>
      <deny users="?" />
    </authorization>-->
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="dotnet@mailtest.radixweb.net">
        <network host="mail.mailtest.radixweb.net" password="deep70" port="25" userName="dotnet@mailtest.radixweb.net" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".msg" mimeType="application/octet-stream" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
